!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{author: "Team 19 COM3240 Sheffield Computer Science 2021"}/
    %meta{description: "Slipboxes index page"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag "navbar"
    = stylesheet_link_tag "slipboxes"

    %title Slipbox - My Slipboxes
  %body
    #wrapper
      = render "partials/navbar"