<!DOCTYPE html>
<html lang="en">

<head>
<meta author="Team 19 COM3240 Sheffield Computer Science 2021">
<meta description="Sign in page for Slipbox">

<%= stylesheet_link_tag "mynotes" %>

<title>My Slipboxes</title>
<body>
  
  <div id="wrapper">
    

    <section id="navbar">
    
    
      <h1><strong><u id="main-title" class="title">Slipbox</u></strong></h1>

      <ul>
        <li class="navbar-item"><a href="">Slipboxes</a></li>
        <li class="navbar-item"><a href="">Threads</a></li>
      
        <li class="navbar-item"><a href="">Edit Notes</a></li>
        <li class="navbar-item"><a href="">References</a></li>
        <div class="separator"></div>
        <li class="navbar-item"><a href="">Help </a></li>
        <li class="navbar-item"><a href="">Settings</a></li>
        <li class="navbar-item"><a href="">Logout</a></li>
      </ul>
      
    </section>

    <section id="titleSection">

      <p id ="goback"> < Go back to threads </p>

      <h2> Title </h2>

      <p class="text"> Last Edited - 07/03/2021</p>

    </section>

    <section id="notes">
        <h2> Subtitle - Title - ID </h2>

        <p class="text" id ="edited"> Last Edited - 07/03/2021</p>
        
        <!-- FOR TEST PURPOSES -->
        <%# link_to "Create a note", new_note_path(@note), class: 'ajax-modal' %>
        <%# form to create a slipbox %>
        <section id="createNote">
          <h2><%= link_to 'Create a new Note', new_note_path %></h2>
        </section>

        <div id="notesWrapper">
            <div class="noteWrapper">
              <%# check if there are any notes to display, if not, notify the user %>
              <% if Note.any? %>
                <section id="notes">
                <h2>My Notes</h2>
                <hr class="solid"/>
                <div class="slipFlexContainer">
                  <%= render @notes %>
              <% else %>
                <p>Create a note above</p>
              <% end %>
            </div>
          
            
        </div>
    </section>
  </div>
 
</body>
</html>


