!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{author: "Team 19 COM3240 Sheffield Computer Science 2021"}/
    %meta{description: "Sign in page for Slipbox"}/
    = stylesheet_link_tag "notes"
    %title My Slipboxes
  %body
    #wrapper
      %section#titleSection
        %p#goback &lt; Go back to threads
        %h2 Title
        %p.text Last Edited - 07/03/2021
      %section#notes
        %h2 Subtitle - Title - ID
        %p#edited.text Last Edited - 07/03/2021
        / FOR TEST PURPOSES
        %section#createNote
          %h2= link_to 'Create a new Note', new_note_path
        #notesWrapper
          .noteWrapper
            - if Note.any?
              %section#notes
                %h2 My Notes
                %hr.solid/
                .slipFlexContainer
                  = render @notes
            - else
              %p Create a note above