<!DOCTYPE html>
<html lang="en">

<head>
<meta author="Team 19 COM3240 Sheffield Computer Science 2021">
<meta description="Sign in page for Slipbox">

<%= stylesheet_link_tag "mynotes" %>

<title>My Slipboxes</title>
<body>
  
  <div id="wrapper">
    

    <section id="navbar">
    
    
      <h1><strong><u id="main-title" class="title">Slipbox</u></strong></h1>

      <ul>
        <li class="navbar-item"><a href="">Slipboxes</a></li>
        <li class="navbar-item"><a href="">Threads</a></li>
      
        <li class="navbar-item"><a href="">Edit Notes</a></li>
        <li class="navbar-item"><a href="">References</a></li>
        <div class="separator"></div>
        <li class="navbar-item"><a href="">Help </a></li>
        <li class="navbar-item"><a href="">Settings</a></li>
        <li class="navbar-item"><a href="">Logout</a></li>
      </ul>
      
    </section>

    <section id="titleSection">

      <p id ="goback"> < Go back to threads </p>

      <h2> Title </h2>

      <p class="text"> Last Edited - 07/03/2021</p>

    </section>

    <section id="notes">
        <h2> Subtitle - Title - ID </h2>

        <p class="text" id ="edited"> Last Edited - 07/03/2021</p>
        
        <!-- FOR TEST PURPOSES -->
        <%# link_to "Create a note", new_note_path(@note), class: 'ajax-modal' %>
        <%# form to create a slipbox %>
        <section id="createNote">
          <h2>Create a new Note</h2>
          <%= render 'form' %>
        </section>

        <div id="notesWrapper">
            <div class="noteWrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus eget nunc scelerisque viverra mauris in aliquam sem. In egestas erat imperdiet sed. Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Nulla at volutpat diam ut venenatis tellus in metus vulputate. Sit amet aliquam id diam maecenas ultricies mi eget mauris. Sed augue lacus viverra vitae congue. Sit amet nulla facilisi morbi tempus iaculis urna id. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Netus et malesuada fames ac turpis egestas integer eget. </p>
                <br>
                <p>Duis at consectetur lorem donec massa sapien. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Nibh venenatis cras sed felis eget. Pellentesque nec nam aliquam sem et tortor consequat id porta. Gravida cum sociis natoque penatibus. Tincidunt arcu non sodales neque. Ut placerat orci nulla pellentesque dignissim enim. Donec et odio pellentesque diam volutpat commodo sed egestas. Sem integer vitae justo eget magna. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Etiam tempor orci eu lobortis. Sem viverra aliquet eget sit amet. Mauris in aliquam sem fringilla ut. Diam vel quam elementum pulvinar etiam non quam lacus suspendisse. Morbi tincidunt augue interdum velit euismod in pellentesque massa placerat. Tortor vitae purus faucibus ornare. Justo donec enim diam vulputate ut pharetra. Habitant morbi tristique senectus et netus et malesuada. Nullam non nisi est sit amet facilisis magna etiam tempor.</p>
            </div>
          
            
        </div>
    </section>
  </div>
 
</body>
</html>


