!!!
%html{:lang => "en"}
  %head
    %meta{:description => "Tree page for Slipbox"}/
    %title Threads
    = stylesheet_link_tag "trees"
    = javascript_include_tag "https://d3js.org/d3.v6.min.js"
  %body
    -# -# The Modal
    -# #note-modal.modal
    -#   -# Modal content
    -#   .modal-content
    -#     %span#close-btn.close ×
    -#     %form
    -#       %fieldset
    -#         %legend Note Info
    -#         %input#note-title{:required => "", :type => "text", :value => "title"}/
    -#         %input#note-id{:required => "", :type => "text", :value => "id"}/
    -#         %p.mp Last Edited at 10/04/2021 : 03:10
    -#         %p
    -#           %button.mbtn Save changes
    -#       %fieldset
    -#         %legend Add note
    -#         %input#add-id{:type => "text", :value => "title"}/
    -#         %input#add-name{:type => "text", :value => "id"}/
    -#         %button.mbtn Submit
    -#       %fieldset
    -#         %button.mbtn Visit Note
    -#         %button.mbtn Delete Note
    #wrapper
      = render "partials/navbar"

      %section#note
        
        -# is currently white
        %p
        = @note.title 

        -# rest of the note details
