!!!
%html{:lang => "en"}
  %head
    %meta{:description => "Tree page for Slipbox"}/
    %title Threads
    = stylesheet_link_tag "trees"
    = javascript_include_tag "https://d3js.org/d3.v6.min.js"
  %body
    #wrapper
      = render "partials/navbar"
      #content-wrapper
        %section#note
          
        -# is currently white
        %p Note Title:
        = @note.title 

        -# rest of the note details
