
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta author="Team 19 COM3240 Sheffield Computer Science 2021">
<meta description="Sign in page for Slipbox">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag "app" %>

<title>Slipbox - My Slipboxes</title>
<body>
  <div id="wrapper">
    <section id="navbar">
    
      <h1><strong><u id="main-title" class="title">Slipbox</u></strong></h1>

      <ul>
        <li class="navbar-item"><a href="">Slipboxes</a></li>
        <li class="navbar-item"><a href="">Threads</a></li>
      
        <li class="navbar-item"><a href="">Edit Notes</a></li>
        <li class="navbar-item"><a href="">References</a></li>
        <div class="separator"></div>
        <li class="navbar-item"><a href="">Help </a></li>
        <li class="navbar-item"><a href="">Settings</a></li>
        <li class="navbar-item"><a href="">Logout</a></li>
      </ul>
      
    </section>
    <main id="main-content">
      <section id="top-navbar">
        <div id="top-nav-item">
        
   
   
        </div>
      </section>
      <section class="threads">
        <h1 class="title">My Threads</h1>
        <div id="threads-container">
          <button id="l-threads"></button>
          <button id="r-threads">
        </div>
      </section>
    </main>
  </div>
</body>
</html>



