!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{author: "Team 19 COM3240 Sheffield Computer Science 2021"}/
    %meta{description: "Sign up page for Slipbox"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{crossorigin: "anonymous", href: "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css", integrity: "sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl", rel: "stylesheet"}/
    = stylesheet_link_tag "signin"
    %link{href: "/assets/stylesheets/application.css", rel: "stylesheet"}/
    %title Slipbox - Sign up
  %body.text-center.base
    %main.signup
      %h1#main-title
        %strong
          %u Slipbox
      %small#subtitle
        %em A notetaking tool
      %form#signin-form
        %label.visually-hidden{for: "inputEmail"} Please enter email address
        %input#inputEmail.form-control{autofocus: "", placeholder: "example@email.com", required: "yes", type: "email"}/
        %label.visually-hidden{for: "inputPassword"} Password
        %input#inputPassword.form-control{placeholder: "password", required: "yes", type: "password"}/
        /
          <label for="remember-me">Remember Me</label>
          <input type="checkbox" id="remember-me">
        %br/
        %button#signin-submit{type: "submit"} Sign Up
        %br/
        %a.link{href: "/signin"} Already got an account? log in.
        