= stylesheet_link_tag "navbar"


%section#navbar
  %h1
    #main-title.title Slipbox
  %ul
    %li.navbar-item
      %a{:href => ""} Slipboxes
    %li.navbar-item
      %a{:href => ""} Threads
    %li.navbar-item
      %a{:href => ""} Edit Notes
    %li.navbar-item
      %a{:href => ""} References
    .separator
    %li.navbar-item
      %a{:href => ""} Help
    %li.navbar-item
      %a{:href => ""} Settings
    %li.navbar-item
      %a{:href => ""} Logout