<section id="navbar">
    <h1>
        <strong>
            <u id="main-title" class="title">Slipbox</u>
        </strong>
    </h1>
    <ul>
        <li class="navbar-item"><a href="">Slipboxes</a></li>
        <li class="navbar-item"><a href="">Threads</a></li>
        <li class="navbar-item"><a href="">Edit Notes</a></li>
        <li class="navbar-item"><a href="">References</a></li>
        <div class="separator"></div>
        <li class="navbar-item"><a href="">Help </a></li>
        <li class="navbar-item"><a href="">Settings</a></li>
        <li class="navbar-item"><a href="">Logout</a></li>
    </ul>    
</section>