= stylesheet_link_tag "navbar"

%section#navbar
  %h1
    #main-title.title Slipbox
  %ul
    %li.navbar-item
      %a{:href => "/slipboxes"} Slipboxes
    %li.navbar-item
      %a{:href => "/trees"} Threads
    %li.navbar-item
      %a{:href => "/notes"} Notes
    %li.navbar-item
      %a{:href => "/references"} References
    .separator
    %li.navbar-item
      %a{:href => "/help"} Help
    %li.navbar-item
      %a{:href => "/settings"} Settings
    %li.navbar-item
      = link_to('Logout', destroy_user_session_path, method: :delete)
