= stylesheet_link_tag "navbar"


%section#navbar
  %h1
    #main-title.title Slipbox
  %ul
    %li.navbar-item
      %a{:href => "/myslipboxes"} Slipboxes
    %li.navbar-item
      %a{:href => "/threads"} Threads
    %li.navbar-item
      %a{:href => "/edit"} Edit Notes
    %li.navbar-item
      %a{:href => ""} References
    .separator
    %li.navbar-item
      %a{:href => "/help"} Help
    %li.navbar-item
      %a{:href => "/settings"} Settings
    %li.navbar-item
      %a{:href => ""} Logout
