-# partial for the navbar shown on the left of the page 
= stylesheet_link_tag "navbar"
%section#navbar
  %h1
    #main-title.title Slipbox
  %ul
    %li.navbar-item
      %a{href: "/slipboxes"} Slipboxes
    %li.navbar-item
      %a{href: "/references"} References
    .separator
    %li.navbar-item
      %a{href: "/help"} Help
    %li.navbar-item
      = link_to('Logout', destroy_user_session_path, method: :delete)