!!!
%html{:lang => "en"}
  %head
    %meta{:description => "Threads page for Slipbox"}/
    %title Threads
    = stylesheet_link_tag "threads"
  %body
    #wrapper
      = render "partials/navbar"
      %section#thread-tree= render generate_tree.html_safe
