!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{description: "Threads page for Slipbox"}/
    %title Threads
    = stylesheet_link_tag "threads"
    = javascript_include_tag "https://d3js.org/d3.v6.min.js"
  %body
    / The Modal
    #note-modal.modal
      / Modal content
      .modal-content
        %span#close-btn.close ×
        %h1.mh Title - Id
        %p.mp Last Edited at 10/04/2021 : 03:10
        %p
          %button.mbtn Add New Note
          %button.mbtn Delete Note
          %button.mbtn Visit Note
    #wrapper
      = render "partials/navbar"
      %section#thread-tree
        #thread-container
          %svg
      %section
  = javascript_include_tag "threads"
