<!DOCTYPE html>
<html lang="en">
    <head>
    <meta description="Threads page for Slipbox">
    <title>Threads</title>
    <%= stylesheet_link_tag "threads" %>
    <%= javascript_include_tag "https://d3js.org/d3.v6.min.js" %>
  


    </head>
    <body>  
        <!-- The Modal -->
        <div id="note-modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span id="close-btn" class="close">&times;</span>
            <h1 class="mh">Title - Id</h1>
            <p class="mp">Last Edited at 10/04/2021 : 03:10 <p>
            <button class="mbtn">Add New Note</button>
            <button class="mbtn">Delete Note</button>
            <button class="mbtn">Visit Note</button>



        </div>

        </div> 


        <div id="wrapper">
            <%= render "partials/navbar" %>

            <section id="thread-tree">
                <div id="thread-container">
                    <svg></svg>
                </div>                
            </section>
            <section>
        </div>
    </body>
    
    <%= javascript_include_tag "threads" %>

</html>



