<<<<<<< HEAD
%h1 Threads#index
%p Find me in app/views/threads/index.html.haml
=======
!!!
%html{:lang => "en"}
  %head
    %meta{:description => "Threads page for Slipbox"}/
    %title Threads
    = stylesheet_link_tag "threads"
  %body
    #wrapper
      = render "partials/navbar"
      %section#thread-tree= render generate_tree.html_safe
>>>>>>> 10cedf41ff8f908abf6b0e0217bebd67491e327b
