%table
  %thead
    %tr
      %th Author
      %th Rest of reference
      %th Associated notes

  %tbody
    - @references.each do |reference|
      %tr
        %td= reference.author
        -# %td= add associated notes here
        %td= reference.rest_of_reference
        %td= link_to 'Edit', edit_reference_path(reference)
        %td= link_to 'Delete', reference, method: :delete, data: { confirm: 'Are you sure?' }
