/****************************/
/*      Media queries       */
/****************************/

/* Set default styling */
* {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: Comfortaa;
    overflow: hidden;
  }
  
  button {
    background-color: #ffffff;
    border: none;
    outline: none;
    padding: 1% 1%;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .tn-p {
    font-size: 0.9em;
  }
  
  .subtitle {
    font-size: 20pt;
    text-decoration: none;
  }
  
  #note-ni-title {
    padding: 1% 2%;
  }
  /****************************/
  /* Element grid positioning */
  /****************************/
  
  #wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-auto-rows: minmax(250px, auto);
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
  }
  
  ul {
    list-style-type: none;
  }
  
  #top-navbar,
  #edit-note,
  #note-tools {
    color: black;
  }
  
  #top-navbar {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 1px solid #c0c0c0;
    font-family: Helvetica;
  }
  
  #edit-note {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 11;
    background-color: #f8f8f8;
    padding: 5% 5%;
  }
  
  #edit-note-container {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 5% 5%;
  }
  
  #editor {
    border: none;
    overflow-y: scroll;
    background-color: #ffffff;
    height: 600px;
    padding: 5% 5%;
  }
  
  #note-n {
    display: flex;
    align-content: left;
  }
  
  #form-control {
    background-color: white;

    width: 100%;
    height: 200px;
    box-sizing: border-box;
    resize: none;
    border: 1px solid #aaa;
    outline: none;
    padding: 4% 4%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .note-ni {
    padding: 5px 5px;
    margin: 0 10px 0 0;
  }

  #new_edit_note {
      width: 80%;
      height: 100%;
      margin: auto;
  }
  