#navbar {
  position: fixed;
  top: 0;
  height: 100%;
  width: 200px;
  background: linear-gradient(
    330deg,
    rgb(175, 222, 227) 10%,
    rgb(127, 162, 225) 37%,
    rgb(26, 68, 124) 97%
  );
  color: white;
  font-family: Comfortaa;
}

#main-title {
  font-size: 1em;
  font-family: Comfortaa;
  padding: 5%;
  text-decoration: underline;
}

#navbar li a {
  font-size: 1.2em;
  text-decoration: none;
  color: white;
}

#navbar li a:hover {
  text-decoration: underline;
}

#navbar ul {
  list-style-type: none;
}

#navbar li {
  padding: 20px;
}

.separator {
  border: 1px solid #ffffff;
  width: 90%;
  margin: auto;
}
ul li:hover a {
  padding-left: 30px;
  transition: 0.5s;
}
