* {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: Comfortaa;
  // overflow: hidden;
}

#content-wrapper {
  position: relative;
  margin-left: 200px;
  padding: 1% 1%;
  width: auto;
}

button {
  background-color: #ffffff;
  border: none;
  outline: none;
  padding: 1% 1%;
}

button:hover {
  cursor: pointer;
}

.tn-p {
  font-size: 0.9em;
}

.subtitle {
  font-size: 20pt;
  text-decoration: none;
}

#note-ni-title {
  padding: 1% 2%;
}

/****************************/
/* Element grid positioning */
/****************************/

ul {
  list-style-type: none;
}

#top-navbar,
#edit-note,
#note-tools {
  color: black;
}

#top-navbar {
  grid-column-start: 2;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 1px solid #c0c0c0;
  font-family: Helvetica;
}

#note-n {
  display: flex;
  align-content: left;
}

.note-ni {
  padding: 5px 5px;
  margin: 0 10px 0 0;
}

#main-content {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 11;
  padding: 5% 5%;
}

#ref-display {
  width: 80%;
}

#ref-form {
  position: fixed;
  top: 150px;
  right: 0;
  width: 350px;
  padding: 2% 2%;
}

/****************************/
/* Reference object styling */
/****************************/

// this may need to be changed for responsiveness!!!
input[type="checkbox"] {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #555;
}

#ref-table {
  width: 98%;
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  border-spacing: 5px;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:nth-child(odd) {
  background-color: #fff;
}

.note {
  display: inline-block;
}

table p {
  display: inline-block;
  vertical-align: top;
}

th,
td:nth-child(4),
td:nth-child(5),
td:nth-child(6) {
  text-align: center;
}

td {
  text-align: left;
}

#buttons {
  width: 98%;
}

.delete {
  float: right;
}

.paginate {
  float: left;
}

.error-msg {
  color: #f04135;
  text-align: center;
}
