* { color: white; }

html, body {
  height: 100%;
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(309deg, rgba(2,0,36,1) 0%, rgb(81, 124, 202) 0%, rgba(26, 68, 124, 0.658) 100%); 
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}



#main-title {
  font-size: 3.5rem;
  font-family: Comfortaa;
}

#subtitle { 
  font-family: Comfortaa; 
  
}
#signin-form { margin: 40px 0 0 0; }

.signin {
  width: 100%;
  max-width: 450px;
  height: 545px;
  padding: 15px 50px 60px 50px;
  margin: auto;
  font-family: Helvetica neue, sans-serif;
  
  border-radius: 3px;
  opacity: 0.9;
  border-radius: 10px;
}

.signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.signin .form-control:focus { z-index: 2; }

#inputEmail, #inputPassword {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 14pt;
}

#signin-submit {
  font-family: Comfortaa;
  border-radius: 5px;
  background: transparent;
  width: 50%;
  height: 45px;
  border: solid 1px #FFF;
  font-size: 18pt;
  margin: 35px 0px 35px 0px;
}

#signin-submit:hover {
  background-color: white;
  color: black;
}

input[type="email"] { margin-bottom: 20px; }

input[type="email"], input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 14pt;
}

input[type="email"]::placeholder, input[type="password"]::placeholder {
  color: #FFF;
}

h1 { font-size: 1.5rem; font-family: Comfortaa }
a.link { color: white; }
a.link:hover { color: blue; }

label, .card-header{
  color: #fff;
}
input{
  background: black;
}
.form-control {
  background-color: black;
}
.card-body, .card-header{
  background : linear-gradient(309deg, #020024 0%, #517cca 0%, rgba(26, 68, 124, 0.658) 100%);
}

#subtitle {
  margin-bottom: 50px;
}


