* {
  color: white;
}

html,
body {
  height: 100%;
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

}

#subtitle {
  font-family: Comfortaa;

}

.form-signin {
  width: 100%;
  max-width: 450px;
  height: 500px;
  padding: 15px;
  margin: auto;
  font-family: Helvetica neue, sans-serif;
  background-color: #61baee;
  border-radius: 3px;
  opacity: 0.9;
  border-radius: 10px;
  
}

.form-signin:hover {
  animation-name: scope;
  animation-duration: 0.5s;
  opacity: 1.0;
}

@keyframes scope {
  from {opacity: 0.9;}
  to {opacity: 1.0;}
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

#inputEmail, #inputPassword {
  background-color:  #61baee;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 14pt;
 
}

#signin-submit {
  font-family: Arial;
  border-radius: 10px;
  background-color: rgb(55, 142, 182);
  width: 80%;
  height: 50px;
  border: none;
  font-size: 24pt;

  
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  

}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.link {
  color: white;
  margin-top: 10px;
}


