/****************************/

/*      Media queries       */

/****************************/

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

/* Set default styling */
* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

/****************************/

/* Element grid positioning */

/****************************/

#container {
  position: relative;
  margin-left: 200px;
  padding: 1% 1%;
  width: auto;
}

#welcome {
  margin-top: 10px;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
  background: rgb(127, 162, 225);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px 3px #a0a0a0;
}

#slipboxes {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
}

#create-slipbox {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-bottom: 10px;
  color: #000;
}

#editSlipbox {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 5;
}

#main-title {
  font-size: 3em;
  font-family: Comfortaa;
  padding: 20px;
  margin-top: 5px;
  color: #fff;
}

hr.solid {
  border-top: 1px solid #000;
}

.slipboxWrapper {
  background: #364258;
  padding: 10px;
  border-radius: 8px;
  width: fit-content;
  margin-right: 10px;
  display: inline-block;
}

.slipboxWrapper p {
  color: #fff;
}

.slipFlexContainer {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px;
  width: 85%;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
  color: #000;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline #addslipbox {
  padding: 10px 10px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline #addslipbox:hover {
  background-color: royalblue;
}

#form-inline label {
  color: black;
}

.slipFormSubmit {
  padding: 10px 20px;
  background-color: #3d7a9e;
  border: 1px solid #ddd;
  color: white;
  margin-top: 10px;
}

.blackTitle {
  color: #000;
}
#new_slipbox {
  display: inline-block;
  width: 100%;
}

div .form-group,
.form-actions {
  width: 30%;
}

#slipbox_title {
  float: left;
}
#slipboxes h2 {
  margin-top: 20px;
}
