/****************************/
/*      Media queries       */
/****************************/
  



/* Set default styling */
  * {
  
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1em;
  }
  
  /****************************/
  /* Element grid positioning */
  /****************************/

  #wrapper {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
      grid-auto-rows: minmax(250px, auto);
      width: 100vw;
      height: 100vh;
  }

  #thread-tree {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 11;
    border: 1px solid #c0c0c0;
    
  }
  
  #thread-container {
   height: 100%;
  }

  svg {
    height: 100%;
  }

  p, h1, button{
    color: black;
  }
  .center-container {
    display: block;
  }

  .list-start ul{
    margin-top: 25px;
    list-style-type: none;
    display: block;
  }

  .list-start li {
    display: inline-block;
    
    background-color: #6688c7;
    width: 100px;
    height: 25px;
  }   

  .event-text {
    font-family: Helvetica;
    font-size: 1em;
    cursor: pointer;
  }

  path {
    fill: none;
    stroke: #c0c0c0;
    
  }


  /****************************/
  /*      Modal background    */
  /****************************/


   /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  color: black;

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
.mbtn .mp .mh {

  color: black;
  font-family: Helvetica;


}

input[type="text"] {

    color: black;
    width: 30%;
    height: 25px;
    margin: 2% 2%;
  



}

.mbtn {
    padding: 0% 2%;
    height: 40px;
    border: none;
    border-radius: 5px;
    float: right;
    margin-left: 5px;
}   

.mbtn:hover {
  background-color: #eee;
  
}
  
