/****************************/

/*      Media queries       */

/****************************/

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

/* Set default styling */
* {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: Helvetica neue, sans-serif;
}

/****************************/

/* Element grid positioning */

/****************************/

#wrapper {
  display: grid;
  grid-template-columns: 210px 7fr;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-rows: minmax(250px, auto);
  grid-column-gap: 2%;
  width: 100vw;
  height: 100vh;
}

#main-title {
  font-size: 3em;
  font-family: Comfortaa;
  padding: 20px;
  margin-top: 5px;
  color: #fff;
}

hr.solid {
  border-top: 1px solid #000;
}

.form-inline #addslipbox:hover {
  background-color: royalblue;
}

#form-inline label {
  color: black;
}

.blackTitle {
  color: #000;
}
