<!DOCTYPE html>
<html lang="en">

<head>

<meta author="Team 19 COM3240 Sheffield Computer Science 2021">
<meta description="Sign in page for Slipbox">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<%= stylesheet_link_tag "signin" %>

<title>Slipbox - Sign in</title>

</head>
<body class="text-center base">

        <main class="signin">
            <h1 id="main-title"><strong><u>Slipbox</u></strong></h1>
            <small id="subtitle"><em>A notetaking tool</em></small>
            
            <form id="signin-form">
            
            <label for="inputEmail" class="visually-hidden">Please enter email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="example@email.com" required="yes" autofocus="">
          
            <label for="inputPassword" class="visually-hidden">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="password" required="yes">
            <!-- 
            <label for="remember-me">Remember Me</label>
            <input type="checkbox" id="remember-me">
            -->
            <br/>
            <button id="signin-submit" type="submit">Sign in</button>
            <br/>
            <a href="" class="link">Forgot your password ?</a>
            <br/>
            <a href="" class="link">Register a new account</a>

            
            </form>
                   
        </main>
    
</body>

</html>


  

  


