<!DOCTYPE html>
<html lang="en">
    <head>
    <meta description="Threads page for Slipbox">
        <title>Threads</title>
        <%= stylesheet_link_tag "edit" %>
    </head>
    <body>  
        <div id="wrapper">
            <%= render "partials/navbar" %>

            <section id="top-navbar">
                <ul id="note-n">
                    <li class="note-ni"><h1>Subtitle - Title - ID </h1><small> Last Edited - 06/03/2021</small></li>
                    <li class="note-ni"><img src="" alt=""/><p>Save Note</p></li> 
                    <li class="note-ni"><img src="" alt=""/><p>Group Settings</p></li>
                    <li class="note-ni"><img src="" alt=""/><p>Delete Note</p></li>
                </ul>
            </section>
            <section id="edit-note">
                <div id="edit-note-container">
                    
                    <textarea wrap="hard">
                    </textarea>
                            
                <div>
                            
                      
                </div>
            </section>
           
        </div>
    </body>
</html>



