-# frozen_string_literal: true
= simple_form_for(@slipbox) do |f|
  .form-inputs
    = f.input :title
    = f.input :description
    
  .form-actions
    = f.button :submit, class: 'btn btn-outline-primary'
