<section id="welcome">
    <!-- display username and email on the welcome bar -->
    <h2>Welcome <%= current_user.username %></h2>
    <p>Signed in as: <%= current_user.email %></p>
    <!-- check if there are any notes, if not don't display "last note worked on:" -->
    <% if Slipbox.any? %>
    <p>Last note worked on: <%= @recent_note.title %> - ADD ID HERE - <%= @recent_note.updated_at %></p>
    <% else %>
    <p>You're yet to write your first note!</p>
    <% end %>
</section>