
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta author="Team 19 COM3240 Sheffield Computer Science 2021">
<meta description="Sign in page for Slipbox">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../assets/stylesheets/app.css" rel="stylesheet">

<title>Slipbox - My Slipboxes</title>
<body>
  <div id="wrapper">
    <section id="navbar">
    
      <h1><strong><u id="main-title">Slipbox</u></strong></h1>
      <div id="top-nav-item">
        <img src="" alt="" id="top-profpic"/>
        <h3><small>example@email.com</small></h3>
        <h2><small>Admin</small></h2>
      </div>

      <ul>
        <li class="navbar-item"><a href="">My Slipboxes</a></li>
        <li class="navbar-item"><a href="">Threads</a></li>
        <li class="navbar-item"><a href="">View Notes</a></li>
        <li class="navbar-item"><a href="">Edit Notes</a></li>
        <li class="navbar-item"><a href="">References</a></li>
        <li class="navbar-item"><a href="">Account Settings</a></li>
        <li class="navbar-item"><a href="">Help (Tutorials)</a></li>
      </ul>
      
    </section>
    <section id="top-navbar">
     <div id="top-navbar-item">
      <img src="" alt="logout picture">
        <button>Logout</button>
      </div> 
    </section>
  </div>
</body>
</html>



