
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta author="Team 19 COM3240 Sheffield Computer Science 2021">
<meta description="Sign in page for Slipbox">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../assets/stylesheets/app.css" rel="stylesheet">

<title>Slipbox - My Slipboxes</title>
<body>
  <div id="wrapper">
    <section id="navbar">
    
      <h1><u id="main-title">Slipbox</u></h1>
      <div id="top-nav-item">
        <img src="" alt="" id="top-profpic"/>
        <h2>Username</h2>
        <h3>example@email.com</h3>
      </div>

      <ul>
        <li class="navbar-item">My Slipboxes</li>
        <li class="navbar-item">Threads</li>
        <li class="navbar-item">View Notes</li>
        <li class="navbar-item">Edit Notes</li>
        <li class="navbar-item">References</li>
        <li class="navbar-item">Account Settings</li>
        <li class="navbar-item">Help (Tutorials)</li>
      </ul>
      
    </section>
    <section id="top-navbar">
     <div id="top-navbar-item">
      <img src="" alt="logout picture">
        <button>Logout</button>
      </div> 
    </section>
  </div>
</body>
</html>



